body {
    background-color: #1B1B1B;
}

#forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
}

#forms-top {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 50%;
}

#forms-lets-talk {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #E6C462;
    margin: 0px;
}

#forms-words {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #E6C462;
    margin: 0px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: black;
}

input {
    margin-top: 30px;
    width: 750px;
    height: 62px;
    background-color: #1B1B1B;
    border: 0px;
    color: #E6C462;
    font-size: 20px;
}

::placeholder {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #E6C462;
}

textarea {
    margin-top: 30px;
    width: 750px;
    height: 197px;
    background-color: #1B1B1B;
    border: 0px;
    color: #E6C462;
    font-size: 20px;
}

button {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 62px;
    width: 750px;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    background-color: #1B1B1B;
    color: #E6C462;
    border: 0px;
}

button:hover {
    background-color: #E6C462;
    color: #1B1B1B;
}

@media (max-width:1300px) {
    #forms {
        height: 900px;
    }
    #forms-top {
        width: 80%;
    }
    form {
        width: 80%;
        background-color: black;
    }
}

@media (max-width:1000px) {
    #forms {
        height: 500px;
    }
    #forms-top {
        width: 100%;
    }
    img {
        height: 30px;
    }
    #forms-lets-talk {
        font-size: 40px;
        line-height: 67px;
    }
    #forms-words {
        font-family: "IBM Plex Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #E6C462;
        margin: 0px;
    }
    form {
        width: 100%;
    }
    input {
        margin-top: 30px;
        width: 300px;
        height: 42px;
        background-color: #1B1B1B;
        border: 0px;
    }
     ::placeholder {
        font-weight: 500;
        font-size: 15px;
    }
    textarea {
        margin-top: 30px;
        width: 300px;
        height: 90px;
        background-color: #1B1B1B;
        border: 0px;
    }
    button {
        width: 300px;
        height: 42px;
        font-weight: 500;
        font-size: 15px;
    }
}