*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    background-image: url('images/backgrounnd.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*-----------NAV bar --------*/

header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

#logo-container {
    display: flex;
    flex-direction: column;
}

#logo-img {
    height: 130px;
    width: 180px;
}

nav {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-right: 10px;
}

a {
    position: relative;
    text-decoration: none;
    font-family: "IBM Plex Sans";
    color: #E6C462;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    border: 0;
}

a:before {
    content: "";
    position: absolute;
    background-color: #E6C462;
    height: 3px;
    width: 0;
    bottom: 0;
    right: 0;
    transition: width 0.25s ease-out;
}

a:hover:before {
    width: 100%;
    left: 0;
    right: auto;
}

.slide-bar {
    display: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #E6C462;
}

@media (max-width:1000px) {
    #logo-img {
        height: 70px;
        width: 100px;
    }
    .slide-bar {
        display: block;
    }
    .slide-bar.active .bar:nth-child(2) {
        opacity: 0;
    }
    .slide-bar.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .slide-bar.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(130deg);
    }
    nav {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #1B1B1B;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    nav.active {
        left: 0;
    }
    a {
        font-weight: 300;
        font-size: 20px;
        line-height: 41px;
    }
}


/*------------nav bar end ---------------*/


/*------------home section ---------------*/

.home-section {
    height: 100%;
    width: 100%;
    padding-top: 180px;
}

#highlight-bold-words-home {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 272px;
    width: 100%;
    color: #E6C462;
}

#bold-words {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    line-height: 67px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    width: 40%;
}

#card-container {
    display: grid;
    grid-gap: 40px;
    align-content: center;
    height: 530px;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 30px;
    padding-right: 30px;
}

#card-1,
#card-2,
#card-3 {
    display: flex;
    flex-direction: column;
}

#card-1 {
    background-color: rgba(230, 196, 98, 0.7);
}

#card-2,
#card-3 {
    background: #1B1B1B;
    color: #E6C462;
}

#symbol-container {
    padding-left: 30px;
    padding-top: 30px;
}

#card-content {
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Sans";
    font-style: normal;
    padding-left: 30px;
    padding-top: 30px;
}

#card-heading {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.05em;
}

#hr-1 {
    margin-top: 10px;
    width: 130px;
    height: 6px;
    background-color: black;
    border-radius: 5px;
    border-color: black;
}

#hr-2,
#hr-3 {
    margin-top: 10px;
    width: 130px;
    height: 6px;
    background-color: #E6C462;
    border-radius: 5px;
    border-color: #E6C462;
}

#card-text {
    display: flex;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.05em;
    padding-top: 30px;
    margin-bottom: 40px;
}

@media (max-width:1300px) {
    #logo-img {
        height: 80px;
        width: 100px;
    }
    .home-section {
        padding-top: 50px;
    }
    #highlight-bold-words-home {
        height: 200px;
    }
    #card-container {
        height: 290px;
    }
    #bold-words {
        font-size: 30px;
    }
    #symbol-container img {
        height: 50px;
    }
    #symbol-container {
        padding-left: 10px;
        padding-top: 5px;
    }
    #card-content {
        display: flex;
        flex-direction: column;
        font-family: "IBM Plex Sans";
        font-style: normal;
        padding-left: 10px;
        padding-top: 20px;
    }
    #card-heading {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 15px;
        line-height: 32px;
        letter-spacing: 0.05em;
    }
    #hr-1 {
        margin-top: 5px;
        width: 60px;
        height: 4px;
        background-color: black;
        border-radius: 5px;
        border-color: black;
    }
    #hr-2,
    #hr-3 {
        margin-top: 5px;
        width: 60px;
        height: 4px;
        background-color: #E6C462;
        border-radius: 5px;
        border-color: #E6C462;
    }
    #card-text {
        display: flex;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.05em;
        padding-top: 30px;
        margin-bottom: 40px;
    }
}

@media (max-width:1000px) {
    #highlight-bold-words-home {
        justify-content: center;
        height: 132px;
        width: 100%;
    }
    #bold-words {
        font-weight: 100;
        font-size: 25px;
        line-height: 37px;
        display: flex;
        text-align: center;
        letter-spacing: 0.05em;
        width: 100%;
    }
    #card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;
        justify-content: center;
    }
    #card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 950px;
        padding: 0px;
        padding-bottom: 50px;
    }
    #card-1,
    #card-2,
    #card-3 {
        height: 290px;
        margin: 10px 10px 0px 10px;
    }
    #symbol-container {
        height: 25%;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    #card-1 img,
    #card-2 img,
    #card-3 img {
        height: 60px;
    }
    #card-content {
        height: 70%;
        font-family: "IBM Plex Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.05em;
        padding-left: 10px;
    }
    #hr-1 {
        margin-top: 1px;
        width: 60px;
        height: 4px;
        background-color: black;
        border-radius: 5px;
        border-color: black;
    }
    #hr-2,
    #hr-3 {
        margin-top: 1px;
        width: 60px;
        height: 4px;
        background-color: #E6C462;
        border-radius: 5px;
        border-color: #E6C462;
    }
}


/*------------home section end ---------------*/


/*------------services---------------*/

.services-section {
    height: 100%;
    width: 100%;
    padding-top: 175px;
    background-color: #1B1B1B;
}

#services-highlight-word {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 30px;
    height: 272px;
    width: 100%;
    color: #E6C462;
}

#bold-words-services {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#bold-words-services h1 {
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 67px;
    display: flex;
    letter-spacing: 0.05em;
}

#bold-words-services h3 {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
}

#hr-services {
    margin-bottom: 10px;
    width: 130px;
    height: 6px;
    background-color: #E6C462;
    border-radius: 5px;
    border-color: #E6C462;
}

#card-container-services {
    display: grid;
    grid-gap: 40px;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 30px;
    padding-right: 30px;
}

#card-1-services,
#card-2-services,
#card-3-services,
#card-4-services {
    display: flex;
    flex-direction: column;
}

#card-1-services {
    background-color: #E6C462;
}

#card-2-services,
#card-3-services,
#card-4-services {
    background-color: rgba(0, 0, 0, 0.3);
    color: #E6C462;
}

#symbol-container-services {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

#card-heading-services {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 32px;
    letter-spacing: 0.05em;
}

@media (max-width:1300px) {
    .services-section {
        padding-top: 50px;
    }
    #services-highlight-word {
        height: 200px;
    }
    #bold-words-services {
        font-size: 30px;
    }
    #symbol-container-services img {
        height: 50px;
    }
    #symbol-container {
        padding-top: 30px;
    }
    #card-heading-services {
        padding-top: 20px;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 15px;
        line-height: 32px;
        letter-spacing: 0.05em;
    }
}

@media (max-width:1000px) {
    #services-highlight-word {
        height: 132px;
        width: 100%;
    }
    #bold-words-services {
        width: 100%;
    }
    #bold-words-services h1 {
        font-weight: 600;
        font-size: 50px;
        line-height: 57px;
    }
    #bold-words-services h3 {
        font-weight: 800;
        font-size: 15px;
        line-height: 20px;
    }
    #card-container-services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
    }
}


/*------------services end---------------*/


/*------------About---------------*/

.about-section {
    height: 100%;
    width: 100%;
    padding-top: 155px;
    padding-bottom: 40px;
    background-color: #1B1B1B;
}

#about-top-section {
    display: flex;
}

#about-highlight-word {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    padding-left: 45px;
    width: 40%;
    color: #E6C462;
}

#img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

#bold-words-about h1 {
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 90px;
    line-height: 67px;
    display: flex;
    letter-spacing: 0.05em;
}

#bold-words-about h3 {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
}

#card-1-about {
    background: rgba(0, 0, 0, 0.3);
    width: 85%;
}

#card-content-about {
    color: #E6C462;
    padding-left: 15px;
}

#card-heading-about {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.05em;
    padding-top: 20px;
}

#card-text-about {
    display: flex;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.05em;
    padding-top: 30px;
    padding-bottom: 20px;
}

#hr-1-about {
    margin-top: 10px;
    margin-left: 7px;
    width: 60px;
    height: 4px;
    background-color: #E6C462;
    border-radius: 5px;
    border-color: #E6C462;
}

#about-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 125px;
    padding-left: 40px;
    padding-right: 500px;
    padding-top: 50px;
}

#card-2-about {
    background-color: #E6C462;
}

#card-content-con-about {
    color: black;
}

#card-3-about {
    background-color: rgba(0, 0, 0, 0.3);
}

#card-heading-con-about {
    display: flex;
    align-items: center;
    color: black;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.05em;
    padding-top: 20px;
}

#hr-1-con-about {
    margin-top: 10px;
    margin-left: 7px;
    width: 60px;
    height: 4px;
    background-color: black;
    border-radius: 5px;
    border-color: black;
}

#card-text-con-about {
    display: flex;
    font-weight: 700;
    color: black;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.05em;
    padding-top: 30px;
    padding-bottom: 20px;
}

@media (max-width:1300px) {
    .about-section {
        padding-bottom: 10px;
        padding-top: 100px;
    }
    #about-highlight-word {
        width: 50%;
    }
    #img-section {
        width: 50%;
    }
    #img-section img {
        height: 400px;
    }
    #bold-words-about h1 {
        font-weight: 600;
        font-size: 70px;
        line-height: 67px;
    }
    #bold-words-about h3 {
        font-size: 20px;
        line-height: 50px;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
    }
    #card-heading-about {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.05em;
        padding-top: 10px;
    }
    #card-text-about {
        display: flex;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.05em;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #hr-1-about {
        margin-top: 5px;
        width: 50px;
    }
    #card-1-about {
        width: 85%;
    }
    #about-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;
        padding-left: 40px;
        padding-right: 80px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #card-heading-con-about {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.05em;
        padding-top: 10px;
    }
    #card-text-con-about {
        display: flex;
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.05em;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #hr-1-con-about {
        margin-top: 5px;
        width: 50px;
    }
}

@media (max-width:1000px) {
    #about-highlight-word {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    #bold-words-about h1 {
        font-weight: 600;
        font-size: 50px;
        line-height: 57px;
    }
    #bold-words-about h3 {
        font-weight: 800;
        font-size: 15px;
        line-height: 20px;
    }
    #card-1-about {
        margin-top: 15px;
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
    }
    #img-section {
        display: none;
    }
    #about-bottom {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
    }
}


/*------------About end---------------*/


/*------------contact---------------*/

.contact-section {
    padding-top: 150px;
    background-color: #000;
}

#contact-content-top {
    height: 97px;
    background-color: #1B1B1B;
}

#contact-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 30px;
    height: 500px;
    background-color: #272727;
}

#social-media-logo {
    display: flex;
    justify-content: space-around;
}

#lets-talk-container {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 97px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #E6C462;
    display: flex;
    justify-content: center;
}

#enquiry-button {
    display: flex;
    justify-content: center;
}

button {
    height: 87px;
    width: 276px;
    border-width: 7px;
    border-color: #E6C462;
    font-family: "IBM Plex Sans";
    background-color: #272727;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #E6C462;
}

button:hover {
    background: #E6C462;
    color: #1B1B1B;
    border-color: #E6C462;
}

#contact-number {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 156px;
    background-color: #1B1B1B;
}

#num-1,
#num-2 {
    display: grid;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.05em;
    color: #E6C462;
}

#person-name {
    display: flex;
    padding-bottom: 35px;
    justify-content: center;
}

#copy-rights {
    height: 77px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    color: #E6C462;
}

@media (max-width:1300px) {
    .contact-section {
        padding-top: 100px;
    }
    #lets-talk-container {
        font-weight: 700;
        font-size: 50px;
        line-height: 67px;
        letter-spacing: 0.02em;
    }
    #contact-img {
        height: 70px;
    }
    button {
        height: 77px;
        width: 236px;
        border-width: 5px;
        font-family: "IBM Plex Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;
        color: #E6C462;
    }
}

@media (max-width:1000px) {
    .contact-section {
        padding-top: 0px;
    }
    #contact-center {
        grid-template-columns: repeat(1, 1fr);
    }
    #lets-talk-container {
        font-weight: 700;
        font-size: 40px;
        line-height: 67px;
        letter-spacing: 0.02em;
    }
    button {
        height: 70px;
        width: 200px;
        border-width: 4px;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 0.05em;
        color: #E6C462;
    }
    #contact-number {
        grid-template-columns: repeat(2, 1fr);
    }
    #num-1,
    #num-2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 42px;
        letter-spacing: 0.05em;
        color: #E6C462;
    }
    #person-name {
        padding-bottom: 0px;
        padding-top: 5px;
    }
}


/*------------contact end---------------*/